<a href="https://colab.research.google.com/github/tatsubo777/machine_learning/blob/main/kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://datahexa.com/kmeans-clustering-with-wine-dataset/参考

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import cluster, preprocessing, datasets

from sklearn.cluster import KMeans

In [ ]:
wine = datasets.load_wine()

In [ ]:
X = wine.data

In [ ]:
X.shape

(178, 13)

In [ ]:
y=wine.target

In [ ]:
y.shape

(178,)

In [ ]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [ ]:
model = KMeans(n_clusters=3)

In [ ]:
labels = model.fit_predict(X)

In [ ]:
df = pd.DataFrame({'labels': labels})
type(df)

pandas.core.frame.DataFrame

In [ ]:
def species_label(theta):
    if theta == 0:
        return wine.target_names[0]
    if theta == 1:
        return wine.target_names[1]
    if theta == 2:
        return wine.target_names[2]

In [ ]:
df['species'] = [species_label(theta) for theta in wine.target]

In [ ]:
pd.crosstab(df['labels'], df['species'])

species  class_0  class_1  class_2
labels
0             13       20       29
1             46        1        0
2              0       50       19